# 14. Pandas - Data Analysis Library

Pandas is a powerful data manipulation and analysis library for Python. It provides data structures and operations for manipulating numerical tables and time series data.

## Table of Contents
1. [Introduction to Pandas](#introduction)
2. [Data Structures](#data-structures)
3. [Creating DataFrames](#creating-dataframes)
4. [Reading and Writing Data](#reading-writing)
5. [Data Selection and Indexing](#data-selection)
6. [Data Cleaning](#data-cleaning)
7. [Data Manipulation](#data-manipulation)
8. [Grouping and Aggregation](#grouping-aggregation)
9. [Merging and Joining](#merging-joining)
10. [Time Series](#time-series)
11. [Data Visualization](#data-visualization)
12. [Exercises](#exercises)

## 1. Introduction to Pandas {#introduction}

Pandas is built on top of NumPy and provides:
- **DataFrame**: 2-dimensional labeled data structure (like a spreadsheet)
- **Series**: 1-dimensional labeled array
- Powerful data manipulation and analysis tools
- Easy handling of missing data
- Flexible reshaping and pivoting
- Time series functionality
- Database-like operations

In [ ]:
# Import pandas
import pandas as pd
import numpy as np

# Check pandas version
print(f"Pandas version: {pd.__version__}")

# Also import matplotlib for visualization
import matplotlib.pyplot as plt

## 2. Data Structures {#data-structures}

Pandas has two main data structures:
- **Series**: 1D labeled array
- **DataFrame**: 2D labeled data structure

In [ ]:
# Creating a Series
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print("Series:")
print(series)
print(f"\nType: {type(series)}")
print(f"Index: {series.index}")
print(f"Values: {series.values}")

In [ ]:
# Series with custom index
series_custom = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print("Series with custom index:")
print(series_custom)
print(f"\nAccess by label: {series_custom['b']}")
print(f"Access by position: {series_custom[1]}")

## 3. Creating DataFrames {#creating-dataframes}

DataFrames are the most commonly used pandas data structure:

In [ ]:
# Creating DataFrame from dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Tokyo', 'Paris'],
    'Salary': [50000, 60000, 70000, 55000]
}

df = pd.DataFrame(data)
print("DataFrame from dictionary:")
print(df)
print(f"\nShape: {df.shape}")
print(f"Columns: {df.columns.tolist()}")
print(f"Index: {df.index.tolist()}")

In [ ]:
# Creating DataFrame from list of lists
data_list = [
    ['Alice', 25, 'New York', 50000],
    ['Bob', 30, 'London', 60000],
    ['Charlie', 35, 'Tokyo', 70000],
    ['Diana', 28, 'Paris', 55000]
]

columns = ['Name', 'Age', 'City', 'Salary']
df_from_list = pd.DataFrame(data_list, columns=columns)
print("DataFrame from list of lists:")
print(df_from_list)

In [ ]:
# Creating DataFrame with custom index
df_custom_index = pd.DataFrame(data, index=['emp1', 'emp2', 'emp3', 'emp4'])
print("DataFrame with custom index:")
print(df_custom_index)

## 4. Reading and Writing Data {#reading-writing}

Pandas can read from and write to various file formats:

In [ ]:
# Create sample data and save to CSV
df.to_csv('sample_data.csv', index=False)
print("Data saved to CSV file")

# Read from CSV
df_from_csv = pd.read_csv('sample_data.csv')
print("\nData read from CSV:")
print(df_from_csv)

In [ ]:
# Other file formats (examples - files don't exist, but syntax shown)
# df.to_excel('data.xlsx', index=False)  # Excel
# df.to_json('data.json')  # JSON
# df.to_html('data.html')  # HTML

# Reading from other formats
# df_excel = pd.read_excel('data.xlsx')
# df_json = pd.read_json('data.json')
# df_html = pd.read_html('data.html')

print("Examples of other file format operations shown in comments")

## 5. Data Selection and Indexing {#data-selection}

Selecting data from DataFrames:

In [ ]:
# Basic selection
print("Original DataFrame:")
print(df)

# Select a column
print(f"\nName column: {df['Name']}")
print(f"Age column: {df['Age']}")

# Select multiple columns
print(f"\nName and Age columns:")
print(df[['Name', 'Age']])

In [ ]:
# Select rows by index
print("First row:")
print(df.iloc[0])

print("\nFirst two rows:")
print(df.iloc[:2])

print("\nSpecific row and column:")
print(df.iloc[1, 2])  # Row 1, Column 2

In [ ]:
# Boolean indexing
print("Employees older than 28:")
print(df[df['Age'] > 28])

print("\nEmployees from New York:")
print(df[df['City'] == 'New York'])

print("\nEmployees with salary > 55000:")
print(df[df['Salary'] > 55000])

In [ ]:
# Multiple conditions
print("Employees older than 28 AND salary > 55000:")
condition = (df['Age'] > 28) & (df['Salary'] > 55000)
print(df[condition])

print("\nEmployees from New York OR London:")
condition = (df['City'] == 'New York') | (df['City'] == 'London')
print(df[condition])

## 6. Data Cleaning {#data-cleaning}

Handling missing data and data quality issues:

In [ ]:
# Create DataFrame with missing values
data_with_nan = {
    'Name': ['Alice', 'Bob', None, 'Diana'],
    'Age': [25, None, 35, 28],
    'City': ['New York', 'London', 'Tokyo', None],
    'Salary': [50000, 60000, None, 55000]
}

df_nan = pd.DataFrame(data_with_nan)
print("DataFrame with missing values:")
print(df_nan)

In [ ]:
# Check for missing values
print("Missing values per column:")
print(df_nan.isnull().sum())

print("\nMissing values (True/False):")
print(df_nan.isnull())

print("\nNon-missing values:")
print(df_nan.notnull())

In [ ]:
# Handle missing values
print("Original DataFrame:")
print(df_nan)

# Drop rows with any missing values
df_dropna = df_nan.dropna()
print("\nAfter dropping rows with missing values:")
print(df_dropna)

# Fill missing values
df_fillna = df_nan.fillna({'Name': 'Unknown', 'Age': df_nan['Age'].mean(), 
                          'City': 'Unknown', 'Salary': df_nan['Salary'].mean()})
print("\nAfter filling missing values:")
print(df_fillna)

In [ ]:
# Remove duplicates
data_duplicates = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie'],
    'Age': [25, 30, 25, 35],
    'City': ['New York', 'London', 'New York', 'Tokyo']
}

df_dup = pd.DataFrame(data_duplicates)
print("DataFrame with duplicates:")
print(df_dup)

print("\nAfter removing duplicates:")
print(df_dup.drop_duplicates())

## 7. Data Manipulation {#data-manipulation}

Adding, modifying, and transforming data:

In [ ]:
# Add new columns
df['Bonus'] = df['Salary'] * 0.1  # 10% bonus
df['Total_Compensation'] = df['Salary'] + df['Bonus']

print("DataFrame with new columns:")
print(df)

In [ ]:
# Apply functions to columns
df['Age_Group'] = df['Age'].apply(lambda x: 'Young' if x < 30 else 'Senior')
df['Salary_Category'] = df['Salary'].apply(lambda x: 'Low' if x < 60000 else 'High')

print("DataFrame with categorical columns:")
print(df[['Name', 'Age', 'Age_Group', 'Salary', 'Salary_Category']])

In [ ]:
# Sort data
print("Sorted by Age (ascending):")
print(df.sort_values('Age'))

print("\nSorted by Salary (descending):")
print(df.sort_values('Salary', ascending=False))

print("\nSorted by multiple columns:")
print(df.sort_values(['Age_Group', 'Salary'], ascending=[True, False]))

In [ ]:
# Rename columns
df_renamed = df.rename(columns={'Name': 'Employee_Name', 'City': 'Location'})
print("DataFrame with renamed columns:")
print(df_renamed.columns.tolist())

# Drop columns
df_dropped = df.drop(['Bonus', 'Total_Compensation'], axis=1)
print("\nDataFrame after dropping columns:")
print(df_dropped.columns.tolist())

## 8. Grouping and Aggregation {#grouping-aggregation}

Grouping data and performing aggregations:

In [ ]:
# Create larger dataset for grouping
data_large = {
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'IT', 'Finance', 'HR'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank', 'Grace', 'Henry'],
    'Salary': [50000, 45000, 70000, 60000, 48000, 75000, 65000, 50000],
    'Experience': [2, 5, 8, 6, 3, 10, 7, 4]
}

df_large = pd.DataFrame(data_large)
print("Large dataset:")
print(df_large)

In [ ]:
# Group by department
grouped = df_large.groupby('Department')
print("Grouped by Department:")
for name, group in grouped:
    print(f"\n{name}:")
    print(group)

In [ ]:
# Aggregation functions
print("Average salary by department:")
print(df_large.groupby('Department')['Salary'].mean())

print("\nTotal salary by department:")
print(df_large.groupby('Department')['Salary'].sum())

print("\nMultiple aggregations:")
print(df_large.groupby('Department')['Salary'].agg(['mean', 'sum', 'count', 'std']))

In [ ]:
# Group by multiple columns
print("Group by Department and Experience level:")
df_large['Exp_Level'] = df_large['Experience'].apply(lambda x: 'Junior' if x < 5 else 'Senior')
print(df_large.groupby(['Department', 'Exp_Level'])['Salary'].mean())